@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css");

ul {
    list-style-type: none;
}

.heading {
    font-weight: bold;
}

h3 {
    border-style: dotted;
    display: inline;
}

#red {
    background-color: red;
}

#green {
    background-color: green;
}