* {
  padding-left: 5px;
}

h1 {
  text-align: center;
}

form{
  text-align: center;
}

.receiptArea{
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}
.receiptCard {
  border-style: solid;
  width: 20%;
}
