* {
  padding-left: 5px;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center; 
}

h1 {
  text-align: center;
}

form{
  display: grid;
  grid-template-columns: 1fr .5fr;
}

input[type=text]{
  margin: 0 1%;
  border-style: solid;
  border-color: black;
  border-width: 4px;
}
button {
  border: none;
  background-color: white;
  font-weight: bold;
}
ul {
  list-style-type: none;
  text-align: start;
  border-top-style: solid;
  padding-top: 1em;
  color: grey;
  font-weight: bold;
}
li {
  color: purple;
}

.receiptArea{
  display: grid;
  margin-top: 1em;
  grid-template-columns:  12em 12em 12em ;
  row-gap: 1em;
  column-gap: 1em;
}
.receiptCard {
 border-style: solid;
 padding: 5%;
 border-color: #ff5349;
 border-width: .10vh;
 display: flex;
 flex-direction: column;


}
