
:root {
  --maincolor: white;
  --titles: 'Press Start 2P', cursive;;
  --text: serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--text);
  background-image: url("https://mario.wiki.gallery/images/3/30/SMW_Yoshi%27s_House.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: 'Press Start 2P', cursive;
  
}

h1, h2 {
  color: var(--maincolor);
  font-family: var(--titles);
  text-align: center;
  -webkit-text-stroke: 1px black;
}

.image {
  text-align: center;
}

img {
  padding: 5%;
  text-align: center;
  background-color: green;
  width: 20%;
  
}
.day {
  margin-top: 2%;
  margin-bottom: -1%;
}
span {
  background-color: black;
  padding: 1%;
  
}
#conversation {
  padding: 3%;
}

.buttons {
  text-align: center;
}

button {
  padding: 2% 3%;
  font-family: 'Ceviche One', cursive;
  font-size: larger;
}

.food {
  display: none;
}

.play {
  display: none;
}

#home {
  padding: 2% 20%;
}


