<%- include("./partials/head.ejs") %>

<body>
    <h1>Welcome to gitPub</h1>
    <h3>List of Drinks</h3>
    <ul>
        <% drinks.forEach((drink) => { %>
            <li><a href="/drinks/<%= drinks.indexOf(drink)%>"><%= drink.name.slice(0, 1).toUpperCase() + drink.name.slice(1) %></a></li>
        <% }) %>
    </ul>

    <%- include("./food_index.ejs") %>
</body>
</html>