<%- include("./partials/head.ejs") %>

<body>
    <h1>At foo bar</h1>
    <h2><%= food[id].name %></h2>
    <img src="<%= food[id].image %>">
    <h3>$<%= food[id].price %>.00</h3>
    <a href="/drinks">BACK</a>
    
</body>
</html>